
.sponsor-link {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
  }
  
  .sponsor-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

.white-bg {
  background-color: white;
}

#logo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px; /* more spacing between logos */
  margin-top: 40px;
}

#logo-grid .event-item img {
  max-width: 220px; /* increase logo size */
  height: auto;
}
